[Unit]
Description=letsencrypt generate a new certificate
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --rm --name certbot -v "/apps/letsencrypt/etc:/etc/letsencrypt" certbot/certbot:latest -c "/etc/letsencrypt/config/%i.ini" certonly

[Install]
WantedBy=letsencrypt.target

