[Unit]
vi Description=letsencrypt oneshot timer  
Requires=docker.service

[Timer]
OnCalendar=*-*-1,15 06:00:00
Persistent=true
Unit=letsencrypt_renew.service

[Install]
WantedBy=timers.target

